$main-font: "Rubik", sans-serif;
$main-h1  : 32px;
$main-h2  : 24px;
$main-h3  : 22px;
$main-h4  : 20px;
$main-h5  : 18px;
$main-h6  : 16px;
$main-p   : 16px;

$main-bold      : 800;
$main-semi-bold : 700;
$main-regular   : 600;
$main-light     : 500;

$main-text : 1.3;

$main-color_primary    : #FFFFFF;
$main-color_secondary  : #e4dab4;
$main-color_terciary   : #000000;

